<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ks.quality"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <!-- ホームウィジェット -->
        <receiver android:name=".Saikoro" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetx" />
        </receiver>

        <!-- ホームウィジェットを制御するサービス -->
        <service android:name=".AppWidgetService">
            <intent-filter>
                <action android:name="jp.ks.quality.AppWidgetService.ACTION_BTNCLICK" />
            </intent-filter>
        </service>
    
    </application>
    <uses-sdk android:minSdkVersion="7" />
</manifest> 